@charset "UTF-8";

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
#home-body{
    display: flex;
    flex-direction: column;
    margin: auto;
 }

#html, #home-body{
    height: 100%;
 }
 
#home-header{
   background-color:#202020;
   font-family: "Inter", Thin;
   font-weight: 100;
   font-size: 17px;
   text-decoration: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 17px 10%;
   flex-direction: row;
 }

 .logo{
   cursor: pointer;
   padding-right: 10 ;
 }   

.nav-home{
  list-style: none;

}

.nav-home li{
   display: inline-block;
   color: white;
   padding: 20px;
   cursor: pointer;
}

/*.home-contact{
   display: flex;
   flex-direction: row;
}*/


#home-article1{
   display: flex;
   background-color:#402C2C;
   justify-content:space-around;
   flex-direction: row;
   padding: 5%;
} 


#home-article1 figure{
   display: flex;
   justify-content: center;
   width: 250px;
   height:300px;
}

#home-article1 figcaption{
 font-size: larger;
 color: white;
 
} 

#home-article2{
   display: flex;
   background-color:#402C2C;
   justify-content:space-around;
   flex-direction: row;
   padding: 2%;

}


.ad {
   padding: 10px;
}

.ad figure{
   border: 15px solid rgb(0, 0, 0); 
   padding: 0;
}

.products figcaption{
   color: white;
   display:initial;
   margin-bottom: 17px 40%;
   font-size:xx-large;
}


